.todo__item {
    margin: 0 auto;
    border-radius: 5px;
    padding: 20px;
    width: 70%;
    margin-bottom: 20px;
    box-shadow: 0px 3px 10px -4px rgba(138,133,138,1);
}

.todo__action {
    display: inline;
    float: right;
    margin-top: -32px;
}

.todo__action button {
    cursor: pointer;
    font-size: 18px;
    color: #6E6E6E;
}

.todo__action button:focus {
    outline: none;
}

.todo__action #doneBtn:hover {
    color: green;
    border-radius: 50%;
    border: 1px solid green;
}

.todo__action #deleteBtn:hover {
    color: red;
    border-radius: 50%;
    border: 1px solid red;
}

#doneBtn, #deleteBtn{
    margin-right: 10px;
    vertical-align: middle;
    border: none;
    background: none;
    cursor: pointer;
    padding: 7px;
}

.is__complete {
    text-decoration: line-through;
}
