<div class="todo__item" [ngClass]="setClasses()">
    <div class="todo__text">{{ todo.description }}</div>
    <div class="todo__action">
        <button id="doneBtn" (click)="completeTodo(todo)"><i class="fa fa-check" aria-hidden="true"></i></button>
        <button id="deleteBtn" (click)="removeTodo(todo)"><i class="fa fa-trash" aria-hidden="true"></i></button>
    </div>
</div>
