<div class="todo__list">
    <div class="todo__content">
        <h2 class="todo__title">{{ appTitle }}</h2>
        <div class="todo__list__items">
            <item *ngFor="let item of todoItems"
                  [todo]="item"
                  (deleteTodo)="removeTodo($event)"
            >
            </item>
        </div>
        <br>
        <div class="todo__create_content">
            <label id="todo__add">What do you want to do?</label>
            <form #todoForm="ngForm" (submit)="addTodo(todoForm)">
                <input type="text" name="todoInput" id="todoInput" [(ngModel)]="todoInput" #ctrlText="ngModel" required>
                <br><br>
                <div *ngIf="ctrlText.invalid && (ctrlText.dirty || ctrlText.touched)" class="todo__error">ToDo Needs a
                    description
                </div>
                <button type="submit" name="todoBtn" id="todoBtn">SAVE ITEM</button>
            </form>
        </div>
    </div>

</div>
