.todo__list {
    margin: 0 auto;
}

.todo__title {
    margin-left: 12%;
    text-align: left;
    padding-bottom: 20px;
}

.todo__content {
    margin: 0 auto;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 10px 0px rgba(138,133,138,1);
    width: 40%;
    padding: 30px;
    height: 750px;
}

.todo__list__items {
    margin: 0 auto;
    padding-top: 10px;
    height: 350px;
    overflow-y: scroll;
}

.todo__create_content {
    margin: 0 auto;
    padding: 20px;
    width: 70%;
}

.todo__create_content #todo__add {
    font-size: 14px;
    padding-bottom: 20px;
}

.todo__create_content #todoInput {
    margin-top: 40px;
    border: none;
    width: 100%;
    border-bottom: 1px solid;
    font-size: 18px;
}

.todo__create_content #todoBtn {
    width: 150px;
    font-size: 14px;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    float: right;
    margin-top: 20px;
    box-shadow: 0px 3px 10px -4px rgba(138,133,138,1);
}

.todo__create_content #todoBtn:hover {
    border: 1px solid #434343;
    background-color: #434343;
    color: whitesmoke;
}

input:focus{
    outline: none;
}

.todo__error {
    color: darkred;
    font-size: 14px;
}
